:root {
	--color: rgba(255, 255, 255, 0.5);
	--bezier: cubic-bezier(0.165, 0.84, 0.44, 1);
}
body {
	background-color:rgb(19, 20, 26);
	color:white;
	font-family: Calibri;
	margin: 12px;
}
.h {
	display: none;
}
canvas {
	border:1px solid blue;
	cursor: pointer;
}
.toolbox {
	display: flex;
	gap: 32px;
	flex-wrap: wrap;
	width: 100%;
	box-sizing: border-box;
	border: 3px solid var(--color);
	border-radius: 4px;
	padding: 12px;
	border: 1px solid rgb(74, 74, 94);
	background-color: rgb(30, 30, 36);
	font-size: 18px;
	// box-shadow: 0 0 6px 6px rgba(255, 255, 255, 0.2);
	margin-bottom: 12px;

	input, select {
		outline: none;
		background-color:white;
		border: 0;
		padding: 4px 10px;
		border-radius: 8px;
		margin: 4px 1px;
		font-family: Calibri;
		font-size: 18px;
		cursor: pointer;
		&#color-offset {
			width: 48px;
			cursor: text;
			border-radius: 0;
			&:hover {
				background-color: white;
			}
		}
	}
	input[type="button"] {
		box-shadow: inset 1px 1px 2px #7371876b, inset -1px -1px 2px #00000087;
		background-color: #2e2f40;
		color: #ffffff;
		transition: 80ms ease;
		&:not(:disabled):hover {
			color: #c6c7e2;
			box-shadow: inset 1px 1px 2px #00000087, inset -1px -1px 2px #7371876b;
			background-color: #3f4058;
		}
		&:not(:disabled):focus {
			color: #c6c7e2;
			box-shadow: inset 1px 1px 2px #00000087, inset -1px -1px 2px #7371876b;
			background-color: #3f4058;
		}
	}
	select {
		padding: 3px 4px;
		border-radius: 0px;
	}
	
	input:hover {
		color: rgb(56, 36, 80);
		background-color:rgb(140, 184, 250);
	}

	select:focus,
	input:not([type="button"]):focus {
		outline: 2px solid rgb(98, 98, 255);
		background-color: rgb(179, 211, 255);
	}
	
	span {
		font-style: italic;
		color: #adbcb0;
		display: block;
		font-size: 18px;
		max-width: 40ch;
		margin: 4px 0;
	}
}